.signUp__Cart_bg{
    border-radius: 11.646px;
    border: 1.456px solid var(--Gray-Scale-Gray-50, #F2F2F2);
    background: var(--Gray-Scale-White, #FFF);
    box-shadow: 0px 0px 81.523px 0px rgba(0, 38, 3, 0.08);
}